.circle--header {
    background-size: 950px 200px;
    background-position: 25% 10%;
}
#errorPageHeader {
    text-align: center;
    margin: 10rem auto 5rem;
}

#error {
    text-align: justify;
    margin: 0rem auto 5rem;
}